@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$pewter-blue: #93a7cc;
$dark-slate-gray: #2B4141;
$space-cadet: #2C2C54;
$timberwolf: #CFDBD5;
$eerieblack: #242423;

body {
  background: #B993D6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-header {
  display: flex;
  width: 100%;
  font-size: 20px;
  background-color: #FFFFFF;
  justify-content: space-around;
  padding: 24px;
  box-shadow: 0px 0px 5px 0px #000000;
}

.container-header a {
  text-decoration: none;
  color: $eerieblack;
}

.container-main {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.container {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
  margin: 100px auto;
  background: rgba( 185, 147, 214, 0.19 );
  box-shadow: 0 8px 32px 0 rgba( 25, 38, 135, 0.12 );
  border-radius: 8px;
  overflow: hidden;
    h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 32px;
      margin: 16px;
    }

    p {
      font-size: 18px;
      margin: 8px 16px;
      padding-bottom: 8px;
    }
    form {
      padding: 25px;
    }
}

.container img {
  flex-shrink: 0;
  max-width:100%;
  max-height: 300px
}

h3 a {
  font-family: 'Open Sans', sans-serif;
  color: #13293D;
  font-weight: 600;
  font-size: 24px;

}

h3 a:hover {
  text-decoration: none;
  color: $space-cadet;
}

.form-submit {
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.container-options {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.container-options a {
  text-decoration: none;
  color: $eerieblack;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 12px;
  width: 100px;
  border-radius: 12px;
  background: rgba( 185, 147, 214, 0.19 );
  box-shadow: 0 8px 32px 0 rgba( 25, 38, 135, 0.12 );
}

.container-options a:hover {
      background: rgba( 185, 147, 214, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 25, 38, 135, 0.12 );
}
